<html>
	<head>
		{% if title %}
		<title>{{ title }} - Zebra Golf</title>
		{% else %}
		<title>Welcome to Zebra Golf Tracking</title>
		{% endif %}
	</head>
	<body>
		<div>
			Zebra Golf:
			<a href="{{ url_for('main.index') }}">Home</a>
			{% if current_user.is_anonymous %}
			<a href="{{ url_for('auth.login') }}">Login</a>
			{% else %}
			<a href="{{ url_for('courses.list_courses') }}">Courses</a>
			<a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a>
			<a href="{{ url_for('auth.logout') }}">Logout</a>
			{% endif %}
		</div>
		<hr>
		{% for message in get_flashed_messages() %}
		<div>{{ message }}</div>
		{% endfor %}
		{% block content%}{% endblock %}
	</body>
</html>
